.card__link {
  display: inline-block;
  margin-top: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  text-decoration: underline;
  align-self: flex-start;
  color: #FFFFFF;
}

.card__link:hover {
  opacity: 0.8;
}

