.page {
  font-family: 'Inter', 'Arial', sans-serif;
  margin: 0 auto;
  /* min-width: 1100px; */
  max-width: 1600px;
  background-color: #2A2C2F;
}

.header {
  padding: 0 48px;
  min-height: 80px;
  /* outline: 3px solid greenyellow; */
}

.header__columns {
  display: flex;
  justify-content: space-between;

  /* outline: 2px solid red; */
}

.header__logo {
  width: 176px;
  height: 56px;
margin-top: 28px;
}

.header__langs {
  margin: 46px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.header__lang-items {
  display: inline-block;
  margin-right: 18px;
}

.header__lang-item {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #FFFFFF;
}

.header__lang-item:hover {
text-decoration: underline;
}


.container {
  width: 984px;
  margin: auto;
  /* outline: 3px solid blue; */
}

.lead {
  min-height:1005px;
  margin: auto;
  margin-top: 56px;
  /* outline: 2px solid green; */
}

.lead__title {
  margin: 0 auto;
  width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
}

.lead__paragraph {
  margin: 0 auto;
  margin-top: 32px;
  width: 640px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.lead__image {
  display: block;
  /* margin: 0 auto; */
  margin-top: 64px;;
  width: 984px;
  height: 615px;
}

.lead__sign {
  margin: 8px 0 0 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.intro {
  margin-top: 92px;
  min-height: 429px;
}

.intro__header {
  margin: 0;
  text-align: left;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #FFFFFF;
}

.intro__text {
  margin-top: 40px;
  width: 690px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.intro__stat {
margin-top: 33px;
text-align: left;
font-weight: 700;
font-size: 12px;
line-height: 18px;
color: #FFFFFF;
}

.intro__stat-number {
font-weight: 400;
}

.photo-grid {
  margin: auto;
  box-sizing: border-box;
  padding: 92px 0 12px 0;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  /* outline: 2px solid red; */
}

.photo-grid__image {
  width: 284px;
  height: 213px;
}



/* .place {

} */

.place__top {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* outline: 2px solid red; */
}

.place__header {
  margin: 0;
  width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: left;
  color: #FFFFFF;
}

.place__nav {
  width: 484px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.place__url {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  text-align: left;
  color: #AAAAAA;
}

.place__link {
  margin-top: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  text-decoration: none;
  color: #FFFFFF;
}

.place__link:hover {
  text-decoration: underline;
}


.place__bottom {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* outline: 2px solid red; */
}

.place__image {
  width: 460px;
  height: 460px;
}

.place__descr {
  width: 484px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
}

.place__paragraph {
  display: inline-block;
  margin-top: 26px;
}








