.overlay {
  width: 93% ;
  margin: auto;
  margin-top: 92px;
  min-height: 740px;
  position: relative;
  display: flex;
  background: url('../../images/overlay_bg.png') center center/cover no-repeat;
}

@media (max-width: 1024px) {
  .overlay {
    width: 100%;
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .overlay {
    margin-top: 90px;
    min-height: 480px;
  }
}

@media  (min-width: 765px) and (max-width: 321px) {
  .overlay {
    min-height: 62%;
  }
}


@media (max-width: 320px) {
  .overlay {
    margin-top: 66px;
    min-height: 200px;
  }
}
