.place {
  box-sizing:border-box;
  padding: 12px 0 0 0;
  width: 77%;
  margin: auto;
}

@media (max-width: 1024px) {
  .place {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .place {
    width: 94%;
    padding: 15px 0 0 0;
  }
}

@media (max-width: 525px) {
  .place {
    width: 100%;
    padding: 15px 0 0 0;
  }
}
