.footer__content {
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
  text-align: center;
}

@media (max-width: 350px) {
  .footer__content {
    flex-direction: column;
    text-align: left;
  }
}
